/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.guess-feedback {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Adjust the width as needed */
  margin-top: 20px;
}

.guesses,
.feedback {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}